.gurman{
    width: 70%;
    height: 100%;
    position: right;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #856A5D;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 20px;
    background: linear-gradient(to right, #00093C, #353D46);
    color: #00093C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.sign{
    width: 250px;
    height: 120px;
    margin-left: 280px;
    margin-top: -50px;
}
.gurman{
    width: 700px;
    height: 844px;
    margin-top: 490px;
    margin-left: 161px;
    padding-right: -50px;
    bottom: 0;
    right: 0;
}
.my{
    width: 1000px;
    height: 1000px;
    margin-top: 0;
    margin-left: 0;
    z-index: -1;
}
.logod-gurman{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    margin-top: 30px;
    margin-left: 15px;
}
.logo-gurman{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    

}
.logo {
    position: relative;
    font-size: 25px;
    color: #99B2DD ;
    text-decoration: none;
    font-weight: 600;

}



.navbar a {
    font-size: 18px;
    color: #99B2DD;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    transition: 3s;
    z-index: 1;
}

.navbar a:hover,
.navbar a.active{
    color:#856A5D;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%; 
}

.home-content {
    max-width: 600px;
    margin-top: 500px;
}
.home-content h1 {
    position: relative;
    font-size: 65px;
    font-weight: 700px;
    line-height: 1.2;
    font-family: 'Khand', sans-serif;
    width: fit-content;
}
@font-face {
    font-family: "Oswald";
    src: url(Oswald/Oswald-VariableFont_wght.ttf), format("truetype");
}
.home-content h1::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background: #856A5D;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
    
}
@font-face {
    font-family: "Merriweather";
    src: url(Merriweather/Merriweather-Black.ttf), format("truetype");
}
@font-face {
    font-family: "Khand";
    src: url(Khand/Khand-Medium.ttf), format("truetype");
}
.home-content h3 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color:#99B2DD;
    font-family: "Khand", sans-serif;
    width: 500px;
}

.home-content h3::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #856A5D;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}
@font-face {
    font-family: "BlackOpsOne";
    src: url(Black_Ops_One/BlackOpsOne-Regular.ttf), format('truetype');
}
.home-content p {
    position: relative;
    font-size: 26px;
    margin: 20px 0 40px;
    font-family: "BlackOpsOne", sans-serif;
    width: fit-content;
}

.home-content p::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #856A5D;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    background: #856A5D;
}

.home-content .btn-box::before{
    content: "";
    position:absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #856A5D;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #856A5D;
    border: 2px solid #99B2DD;
    border-radius: 8px;
    font-size: 19px;
    color: #99B2DD;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #99B2DD;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #99B2DD;
}

.btn-box a:nth-child(2):hover{
    color: #99B2DD;
}

.btn-box a:nth-child(2)::before{
    background: #856A5D;
}

.btn-box a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #856A5D;
    z-index: -1;
   

}

.btn-box a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100px;
    background: transparent;
    border: 2px solid #081b29;
    transition: 3s;
}
.home-imgHover:hover{
    background: #856A5D;
    opacity: .5;
    bottom: 0;
    height: 100%;
    width: 150%;
}



/* KEYFRAMES ANIMATION*/ 
@keyframes showRight {
    100% {
        width: 0;

    }
}

@keyframes manipActiveHover{
    100%{
        pointer-events: auto;

    }
}

footer {
    width: 100%;
    position: absolute;
    height: 100px;
    top: 1000px;
    bottom: 0;
    background: linear-gradient(to right, #353D46, #00093C);
    color: #99B2DD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 13px;
    line-height: 20px;
    justify-content: space-between;
    z-index: 1;

}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
    padding-top: 10px;
}

.col h4{
    width: fit-content;
    border-bottom: 1px solid #99B2DD;
    margin: 20px 0;
    font-family: outward; 
}


.logo{
    width: 80px;
    margin-bottom: 30px;
    padding-top: 10px;

}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #99B2DD;
    margin-bottom: 50px;
}
form .btn-box{
    font-size: 18px;
    margin-right: 10px;

}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;

}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .btn-box{
    font-size: 16px;
    color: #99B2DD;

}

.social-icons .bx{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 9px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #99B2DD;
    margin-right: 10px;
    cursor: pointer;
}

hr{
    width: 98%;
    border: 0;
    border-bottom: 1px solid #99B2DD;
    margin: 7px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #99B2DD;
    border-radius: 3px;
    position: absolute;
    top: 10px;
    left: 0;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #99B2DD;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 4s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: -20px;
    }
}